 /* COMMON */
 body {
   color: #333;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.4;
   font-family: 'Jua', 'Nanum Gothic', sans-serif;
   height: 100%;
 }

 img {
   display: block;
 }

 a {
   /* 밑줄 없애기 */
   text-decoration: none;
 }

 .inner {
   width: 600px;
   margin: 0 auto;
   position: relative;
 }

 ul {
   list-style-type: none;
 }

 .wrap_whole {
   display: flex;
 }


 /* HEADER */
 header {
   width: 300px;
   height: 70%;
   background-color: #f6f5f0;
   background-attachment: fixed;
   border-bottom: 1px solid #c8c8c8;

 }

 header>.inner {
   /* >는 자식선택자 */
   width: 250px;
   height: 600px;
   position: relative;
   background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/bg.jpg");
   background-attachment: fixed;
 }

 header .logo {
   background-color: blue;
   width: 220px;
   height: 220px;
   position: relative;
   /* 부모요소 기준 배치 */
   /* top: 0;
  bottom: 0;
  */
   margin: auto;
 }

 header .logo img {
   width: 200px;
   position: relative;
   top: 20px;
   margin: auto;

 }

 header .link_menu {
   position: relative;
   top: 50px;
   left: 0;
   display: flex;
   list-style-type: none;
 }

 header .link_menu a {
   font-size: 25px;
   /* font-style: ; */
   color: white;
   margin-top: 10px;
   display: inline-block;
 }

 header .link_menu a:hover {
   text-decoration: none;
   font-size: 30px;
   color: black;
   margin-top: 10px;
 }

 header .link-menu ul.menu li {
   position: relative;
 }


.wrap_whole .wrap_right .introduce{
  margin-bottom: 50px;
}


 /* .wrap_whole .wrap_left {
   height: 300px;
 } */

 .wrap_whole .wrap_right {
   width: 100vw;
   background-color: bisque;
 }

 .wrap_whole .wrap_right .card_wrap {
  display: flex;
  width: 500px;
  margin-top: 50px;
  position: relative;
  margin: auto;
  
 }

 .wrap_whole .wrap_right .card_wrap .card:first-child {
  margin: 0;
 }

 .wrap_whole .wrap_right .card_wrap .card {
  margin-left: 50px;
 }

 .wrap_whole .wrap_right .card_wrap .card-body{
  padding: 50px;
 }


 .wrap_whole .wrap_right .card_wrap .card .card-header {
   text-align: center;
 }


 .wrap_whole .wrap_right .card_wrap .card:hover {
   -webkit-transition: -webkit-transform 200ms ease, background-color 200ms ease, box-shadow 200ms ease;
   -moz-transition: -moz-transform 200ms ease, background-color 200ms ease, box-shadow 200ms ease;
   transition: transform 200ms ease, background-color 200ms ease, box-shadow 200ms ease;
   -webkit-transform: translateY(-1rem);
   -moz-transform: translateY(-1rem);
   -ms-transform: translateY(-1rem);
   -o-transform: translateY(-1rem);
   -spec-transform: translateY(-1rem);
   transform: translateY(-1rem);
   outline: 0;
   background-color: #fafafa;
   color: #0c1721;
   box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15)
 }


 /* FOOTER */
 .footer__container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: 'Domine', serif;
  padding-right: 1rem;
  padding-left: 1rem
}

@media all and (min-width: 768px) {
  .footer__container {
    max-width: 768px
  }
}

@media all and (min-width: 992px) {
  .footer__container {
    max-width: 992px
  }
}

@media all and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px
  }
}

.footer__nav-social,
.footer__copyright,
.footer__white-label {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  flex: 0 0 100%;
  max-width: 100%
}

@media all and (min-width: 480px) {

  .footer__nav-social,
  .footer__copyright,
  .footer__white-label {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    flex: 0 0 50%;
    max-width: 50%
  }
}

.footer__nav-social {
  text-align: center
}

.footer__nav-social a {
  display: inline-block;
  color: #9013fe;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none
}

.footer__nav-social a:active,
.footer__nav-social a:hover {
  color: #000
}

.footer__nav-social li {
  display: inline-block
}

.footer__nav-social li:last-child {
  margin-right: 0
}



@media all and (min-width: 480px) {
  .footer__nav-social {
    text-align: right
  }
}

.footer__nav-social a {
  font-size: 1.2rem
}

.footer__nav-social li {
  margin-right: 0.8rem
}

.footer__copyright,
.footer__white-label {
  color: #79DB7C;
  font-size: 0.875rem;
  text-align: center;
  opacity: 0.8
}

@media all and (min-width: 480px) {
  .footer__copyright {
    text-align: left
  }
}

.footer__white-label {
  margin-right: 0;
  margin-left: auto
}

@media all and (min-width: 480px) {
  .footer__white-label {
    text-align: right
  }
}

.footer__white-label a {
  color: #79DB7C;
  text-decoration: none
}

.section__divide {
  display: block;
  width: 100%;
  height: 1px;
  margin: 1rem;
  background-color: #0c1721;
  opacity: 0.2
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}